<div id="plot" style="width:100%;height:500px;clear: both;">
</div>

<div class="block-quote">
  <p class="source">
    From <a href="http://www.erowid.org/chemicals/caffeine/">the vaults of erowid</a>:
  </p>

<p>
Caffeine doses of 200 mg or higher can cause <strong>unpleasant symptoms</strong> including nausea, headache, and irregular heartbeat, while dose of 750 - 1000 mg can cause <strong>severe toxic symptoms</strong>. Severe caffeine intoxication can result in nausea, vomiting, anxiety, tremor, seizures, tachycardia, dysrhythmias, hypotension, hypokalemia, and metabolic acidosis.
</p>
<p>
Several fatalities resulting from caffeine overdose have been documented, but they are extremely rare relative to its widespread use. In the case of a massive caffeine overdose, vomiting often protects against fatal poisoning, but some deaths have still resulted. 
</p>
<p>
Fatal dose range in humans is believed to be between 3 - 20 grams, approximately the amount of caffeine found in 20 - 130 cups of drip coffee or 15-100 common caffeine tablets (200 mg each). Blood caffeine levels greater than 80 ug/mL have been associated with death, but data is limited. It is difficult to ingest such high levels of caffeine accidentally, and many of the documented fatalities appear to be suicide attempts involving the ingestion of a large number of caffeine pills.
</p>
</div>

<script language="javascript" type="text/javascript">
  function draw_caffeine_plot(cups){
    //points marking each coffee consumption
    var consumed = [];

    //time (milliseconds from epoch) indexed caffeine level
    var caffeine = [];

    //approx half life of caffeine
    var half_life = 18000000; 

    var now = Date.now() - 6 * 60 * 60 * 1000;

    //initialize caffeine level just before first cup
    var previous_level = 0;
    var caffeine_level = 0;
    var first_time = cups[0].milliseconds;
    var caffeine_dose = 150; //mg of caffeine in a cup of coffee

    // we will only display dose lines
    // if the caffeine level is relevantly high
    var display_fatal_dose = false;
    var display_severe_toxicity = false;

    for(i=0; i < cups.length; i++){
      var time = cups[i].milliseconds;
      var next_cup = cups[i+1];
      var next_time = null;

      if(next_cup == undefined){
        //if this is the last cup, extrapolote 20 hours into the future
        next_time = time + half_life * 4;
        var last_time = next_time;
      } else { //if there is a next cup extrapolote to it
        next_time = next_cup.milliseconds;
      }

      //bump caffeine level
      caffeine_level = caffeine_level + caffeine_dose;
      consumed.push([time, caffeine_level]);

      //toggle relevant lines
      if (caffeine_level > 500){
        display_severe_toxicity = true;
      }
      if (caffeine_level > 2500){
        display_fatal_dose = true;
      }


      // fill in caffeine level piecewise between events
      var range = next_time - time;
      var step_count = 10; //points calculated between events
      var step_size = range / step_count;
      //use previous level as base for piecewise function
      previous_level = caffeine_level;
      for(var t = time; t <= next_time; t = t + step_size){
        caffeine_level = previous_level * Math.pow(1/2, ((t - time) / half_life ));
        caffeine.push([t, caffeine_level]);

        // if we're at the step just before "now"
      }
    }
    var current_level = previous_level * Math.pow(1/2, ((now - time) / half_life ));
    var now_series = [[now, current_level]];

    var unpleasant_symptoms = [[first_time, 200], [last_time, 200]];

    var plots =[{data: consumed, 
                 points: {show: true, clickable: true},
                 lines: {show: false}},
               {label: "mg of caffeine in your body", data: caffeine},
               {label: "unpleasant symptoms", data: unpleasant_symptoms}];

    if(display_severe_toxicity){
      var severe_toxicity = [[first_time, 750], [last_time, 750]];
      plots.push({label: "severe toxicity", data: severe_toxicity})
    }
    if(display_fatal_dose){
      var fatal_dose = [[first_time, 3000], [last_time, 3000]];
      plots.push({label: "potentially fatal dose (be careful!)", data: fatal_dose})
    }
    if(now_series){ //won't display if we're viewing data too far in the past.
      plots.push({label: "right now", data: now_series, points: {show: true, radius: 5}})
    }

    $.plot($("#plot"), 
        plots, 
        {xaxis: {
          mode: "time", 
          label: "Time (UTC)",
          timeformat: "%y/%m/%d %h%P"},
         grid: {
          clickable: true},
         legend: {
          position: 'ne'}});
  }
  $.getJSON('<%= @cups_url %>', draw_caffeine_plot);
</script>

