<h1>Collective plot</h1>
<p>
  A plot of our colletive caffeine level.
</p>

<div id="plot" style="width:600px;height:300px;">
</div>

<script language="javascript" type="text/javascript">
  function draw_caffeine_plot(cups){
    //details on consumption
    var consumed = [];
    var cupcount = 0;

    //time indexed caffeine level
    var caffeine = [];
    var half_life = 18000000; //approx half life of caffeine

    //initialize caffeine level just before first cup
    var previous_level = 0;
    for(i=0; i < cups.length; i++){
      var time = cups[i].milliseconds;
      var next_cup = cups[i+1];
      var next_time = null;

      if(next_cup == undefined){
        //if this is the last cup, extrapolote 20 hours into the future
        next_time = time + half_life * 4;
      } else { //if there is a next cup extrapolote to it
        next_time = next_cup.milliseconds;
      }

      
      //bump caffeine level
      var caffeine_level = previous_level + 3;
      previous_level = caffeine_level;
      caffeine.push([time,caffeine_level]);
      consumed.push([time, caffeine_level]);
      // fill in caffeine level between events
      var range = next_time - time;
      var step_count = 30; //points calculated between events
      var step_size = range / step_count;
      for(var t = time + step_size; t < next_time; t = t + step_size){
        previous_level = caffeine_level * Math.pow(1/2, ((t - time) / half_life ));
        caffeine.push([t, previous_level]);
      }
    }

    $.plot($("#plot"), 
        [{ label: "cups drank", 
           data: consumed, 
           points: {show: true, clickable: true},
           lines: {show: false}
           },
        {label: "caffeine level", data: caffeine}], 
        {xaxis: {
          mode: "time", 
          label: "Time (UTC)",
          timeformat: "%y/%m/%d %h%P"},
         grid: {
          clickable: true}});
  }
  $.getJSON('/cups.json', draw_caffeine_plot);
</script>

