<h1>Collective plot</h1>
<p>
  A plot of our colletive caffeine level.
</p>

<div id="plot" style="width:600px;height:300px;">
</div>

<script language="javascript" type="text/javascript">
  function draw_caffeine_plot(cups){
    var caffeine = [[0,0]];
    var current = 0;
    for(cup in cups){
      caffeine.push([cup['created_at'], current += 1 ]);    
    }

    $.plot($("#plot"), [caffeine]);
  }
  $.getJSON('/cups.json', draw_caffeine_plot);
</script>

