<h1>Collective plot</h1>
<p>
  A plot of our colletive caffeine level.
</p>

<div id="plot" style="width:600px;height:300px;">
</div>

<script language="javascript" type="text/javascript">
  function draw_caffeine_plot(cups){
    var caffeine = [];
    var current = 0;
    for(i in cups){
      current++;
      caffeine.push([cups[i].int_time,current]);
    }

    $.plot($("#plot"), [caffeine]);
  }
  $.getJSON('/cups.json', draw_caffeine_plot);
</script>

